@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

@theme {
	--color-main: #1e201e;
	--color-secondary: #3c3d37;
	--color-text: #ecdfcc;
	--color-accent: #b7bdca;
	--color-cta: #ce7f31;
	--color-negative: #ea4144;
	--color-positive: #54de77;
	--color-gray: #767b86;
	--color-user-options-fill: #272a27;
}

@layer base {
	html {
		font-family: 'Roboto Mono', sans-serif;
	}
}
.custom-scroll::-webkit-scrollbar {
	width: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
	background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
	background: var(--color-cta);
	border-radius: 5px;
}
